.desktopShortcut {
    margin: 0.75rem;
    height: 7rem;
    width: 5rem;
    text-overflow:ellipsis;
    overflow: hidden;
    padding: 0.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.shortcutIcon {
    height: 60%;
    width: 60%;
}
.clickedOnce {
    outline: 2px dashed;
}
.shortcutLabel {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}