@font-face {
  font-family: 'Fixedsys';
  src: url('../src/assets/FixedsysRegular.ttf') format('truetype');
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #000;
  margin: 0;
  overflow: hidden;
  padding: 0;
  z-index: 2147483644;
}

#root {
  height: 100vh;
  width: 100vw;
}

#root {
  animation: colorPulse 5s infinite ease-in-out;
  /* background-image: radial-gradient(#444, #111); */
  box-shadow: 0 0 5vmin 1vmin #000 inset;
  box-sizing: border-box;
  font-family: 'Fixedsys', sans-serif;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  z-index: 2147483645;
}
#game-container {
  animation:  5s infinite ease-in-out;
}
.desktop-shortcut,
.window-control,
.taskbar-icon,
.calendarArrow{
  animation: fillPulse 5s infinite ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
}
#root:before {
  animation: wave 10s infinite ease-in-out;
  content: '';
  height: 20vh;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  z-index: 2147483646;
}

#root:after {
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2147483647;
}
.desktop-shadow {
  animation: colorPulse 5s infinite ease-in-out;
  background-image: radial-gradient(#4444446c, #1111116c);
  box-shadow: 0 0 5vmin 1vmin #000 inset;
  box-sizing: border-box;
  font-family: 'Fixedsys', sans-serif;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  pointer-events: none;
  top:0;
  left:0;
  position:absolute;
  z-index: 2147483644;
}

p:last-child:after {
  animation: blink 1s infinite;
  content: '_';
}

@keyframes fillPulse {
  0%,
  100% {
    filter: invert(64%) sepia(59%) saturate(6467%) hue-rotate(88deg)
      brightness(107%) contrast(113%);
  }
  48%,
  52% {
    filter: invert(33%) sepia(91%) saturate(2129%) hue-rotate(101deg)
      brightness(93%) contrast(104%);
  }
  50% {
    filter: invert(24%) sepia(24%) saturate(5258%) hue-rotate(93deg)
      brightness(93%) contrast(101%);
  }
}

@keyframes colorPulse {
  0%,
  100% {
    color: #0c0;
    border-color: #0c0;
  }
  48%,
  52% {
    color: #090;
    border-color: #090;
  }
  50% {
    color: #060;
    border-color: #060;
  }
}

@keyframes wave {
  0% {
    box-shadow: 0 -10vh 20vh #0c0;
    top: -100vh;
  }
  48%,
  52% {
    box-shadow: 0 -10vh 20vh #090;
  }
  50% {
    box-shadow: 0 -10vh 20vh #060;
  }
  100% {
    box-shadow: 0 -10vh 20vh #0c0;
    top: 200vh;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

